@using SafeCore.BLL
@model SafeCore.BLL.Usuarios
@{
    ViewBag.Title = "Inicio de sesión";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<div class="sidenav">
    <div class="col login-main-text">
        <img id="SafeCoreLogo" src="~/Content/assets/SafeCore Imagotipo_G.png" />
    </div>
</div>

@using (Html.BeginForm()) 
{
<div class="main">
    <div class="col-md-6 col-sm-12">

        <h2 id="PageTitle" style="margin-top: 5vh;">@ViewBag.Title</h2>
        <hr />

        <div id="login-Form">
            <form class="d-flex row container justify-content-center">

                <div class="form-group">
                    @Html.LabelFor(u => u.NOMBRE, "Usuario", htmlAttributes: new { @class = "form-label" })
                    @Html.TextBoxFor(u => u.NOMBRE, htmlAttributes: new { @class = "form-control", @type = "text" })
                    @*<label class="form-label">Usuario</label>
            <input text-center type="text" class="form-control" placeholder="Usuario">*@
                </div>

                <div class="form-group">
                    @Html.LabelFor(u => u.PASS, "Contraseña", htmlAttributes: new { @class = "form-label" })
                    @Html.PasswordFor(u => u.PASS, htmlAttributes: new { @class = "form-control", @type = "password" })
                    @*<label class="form-label">Contraseña</label>
            <input text-center type="password" class="form-control" placeholder="Contraseña">*@
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-custom">Iniciar sesión</button>
                </div>

                @*<button type="submit" class="btn btn-secondary" href="@Url.Action("Index", "Home")">Register</button>*@

            </form>
        </div>


    </div>
</div>

    @*@Html.LabelFor(u => u.NOMBRE, "Nombre del usuario")
    @Html.TextBoxFor(u => u.NOMBRE, new { type ="text"})
    <br />
    @Html.LabelFor(u=> u.PASS, "Contraseña")
    @Html.PasswordFor(u=>u.PASS)*@

    @*<button>Ingresar</button>*@
}
<br />

@TempData["Mensaje"]