@using SafeCore.BLL
@model  SafeCore.BLL.Capacitaciones



@{
    ViewBag.Title = "Crear Capacitacion";
}

<h2>Crear Capacitacion</h2>
<div class="container m-3">
    @using (Html.BeginForm())
    {
        <div class="d-flex row container justify-content-center" style="padding-left: 8%; padding-right: 8%;" action="@Url.Action("Index", "Home")" method="post">

            <ul class="row row-cols-1 row-cols-md-2 justify-content-center">
                <li class="col form-group">
                    @Html.LabelFor(c => c.CLIENTES_RUT_CLIENT, "Rut del cliente", htmlAttributes: new { @class = "form-label" })
                    @Html.TextBoxFor(c => c.CLIENTES_RUT_CLIENT, htmlAttributes: new { @class = "form-control" })
                </li>

                <li class="col form-group">
                    @Html.LabelFor(c => c.PROFESIONAL_RUT_PROF, "Rut del profesional", htmlAttributes: new { @class = "form-label" })
                    @Html.TextBoxFor(c => c.PROFESIONAL_RUT_PROF, htmlAttributes: new { @class = "form-control" })
                </li>

                <li class="col form-group">

                    @Html.LabelFor(c => c.FECHA_REALIZA, "Fecha de capacitación", htmlAttributes: new { @class = "form-label" })
                    @Html.TextBoxFor(c => c.FECHA_REALIZA, htmlAttributes: new { @class = "form-control", @type = "datetime-local" })
                </li>
                
                <li class="col form-group">
                    @Html.LabelFor(c => c.REALIZADA, "Seleccione si fue realizada", htmlAttributes: new { @class = "form-label" })
                    @Html.DropDownListFor(c => c.REALIZADA, new List<SelectListItem>(){ new SelectListItem() { Text = "Si", Value = "1" },
                                                                                     new SelectListItem() { Text = "No", Value = "0"}
                                                                                   }, new { @id = "REALIZADA", @class = "form-control" })
                    @Html.ValidationMessageFor(c => c.REALIZADA)
                </li>


                <div class="d-flex col-12">
                    <li class="col">
                        @Html.LabelFor(c => c.DESC_MATERIAL, "Descripción de material a utilizar", htmlAttributes: new { @class = "form-label" })
                        @Html.TextAreaFor(c => c.DESC_MATERIAL, htmlAttributes: new { @class = "form-control", @type = "text" })
                    </li>
                </div>
            </ul>

            <button class="btn btn-custom col-auto" type="submit">Crear Capacitacion</button>
            
            <br />
            
            <div class="container">
                @TempData["mensaje"]
            </div>
        
        </div>
    }
</div>

