@using SafeCore.BLL
@model SafeCore.BLL.VisitasTerreno

@{
    ViewBag.Title = "Planificar visita";
}

<h2>Planificar Visita</h2>

<div class="container m-3">
    @using (Html.BeginForm())
     {

    <form class="d-flex row container justify-content-center" style="padding-left: 8%; padding-right: 8%;" action="/my-handling-form-page" method="post">

        <ul class="row row-cols-1 row-cols-md-2 justify-content-center">

            <li class="col form-group">
                @Html.LabelFor(v => v.ID_VISITA, "ID de visita", htmlAttributes: new { @class = "form-label" })
                @Html.TextBoxFor(v => v.ID_VISITA, htmlAttributes: new { @class = "form-control" })

                @*<label for="number" class="form-label">ID de visita:</label>
                <input type="number" id="number" class="form-control" name="id_visita">*@
            </li>

            <li class="col form-group">
                @Html.LabelFor(v => v.FECHAVISITA, "Fecha de visita", htmlAttributes: new { @class = "form-label" })
                @Html.TextBoxFor(v => v.FECHAVISITA, htmlAttributes: new { @class = "form-control", @type = "date" })

                @*<label for="date" class="form-label">Fecha de visita:</label>
                <input type="date" name="fecha_visita" class="form-control">*@
            </li>

            <li class="col form-group">
                @Html.LabelFor(v => v.PROFESIONAL_RUT_PROF, "Rut del profesional", htmlAttributes: new { @class = "form-label" })
                @Html.TextBoxFor(v => v.PROFESIONAL_RUT_PROF, htmlAttributes: new { @class = "form-control", @maxlength = "9" })

                @*<label for="number" class="form-label">Rut del profesional:</label>
                <input type="number" id="number" class="form-control" name="rut_profesional" maxlength="9" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">*@
            </li>

            <li class="col form-group">
                @Html.LabelFor(v => v.CLIENTES_RUT_CLIENT, "Rut del cliente", htmlAttributes: new { @class = "form-label" })
                @Html.TextBoxFor(v => v.CLIENTES_RUT_CLIENT, htmlAttributes: new { @class = "form-control", @maxlength = "9" })

                @*<label for="number" class="form-label">Rut del cliente:</label>
                <input type="number" id="number" class="form-control" name="rut_cliente" maxlength="9" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">*@
            </li>

        </ul>

        <button class="btn btn-custom col-auto" type="submit" >Guardar</button>
        
        <br />

        @TempData["mensaje"]

    </form>
     }
</div>
