@using SafeCore.BLL

@{
    ViewBag.Title = "Solicitar Asesoria Especial";
}

@{ List<Solicitud> aespecial = (List<Solicitud>)ViewBag.asesoriaesp; }

<h2>Ingresar Asesoria Especial</h2>

<div>
    <a type="button" class="btn btn-custom mb-4 mt-4" href="@Url.Action("CreateAsesoriaESP", "Asesoria")"><i class="fa fa-plus mx-2"></i>Ingresar solicitud asesoria especial</a>
</div>

<table class="table" bgcolor="#FFFFFF">
    <thead class="thead-dark">
        <tr>
            <th>ID Solicitud</th>
            <th>Fecha</th>
            <th>Descripcion</th>
            <th>Rut del cliente</th>
            <th>Tipo de solicitud</th>
        </tr>

    </thead>


    @foreach (var asesoesp in aespecial)
    {
        <tr>
            <td>@asesoesp.ID_SOLICITUD</td>
            <td>@asesoesp.FECHA</td>
            <td>@asesoesp.DESCRIPCION</td>
            <td>@asesoesp.CLIENTES_RUT_CLIENT</td>
            <td>@asesoesp.TIPOSOLICITUD_ID_TIPOSOLICITUD</td>
        </tr>
    }


</table>