@using SafeCore.BLL
@model  SafeCore.BLL.Servicio

@{
    ViewBag.Title = "CreateAsesoria";
}

<h2>Crear Asesoria</h2>



<div class="container m-3">

    @using (Html.BeginForm())
    {

        <div class="d-flex row container justify-content-center" style="padding-left: 8%; padding-right: 8%;" action="/my-handling-form-page" method="post">

            <ul class="row row-cols-1 row-cols-md-2 justify-content-center">

                <li class="col form-group">
                    @Html.LabelFor(s => s.CLIENTES_RUT_CLIENT, "Rut del cliente:", htmlAttributes: new { @class = "form-label" })
                    @Html.TextBoxFor(s => s.CLIENTES_RUT_CLIENT, htmlAttributes: new { @class = "form-control" })
                </li>

                <li class="col form-group">
                    @Html.LabelFor(s => s.DESCRIPCION, "Descripcion:", htmlAttributes: new { @class = "form-label" })
                    @Html.TextBoxFor(s => s.DESCRIPCION, htmlAttributes: new { @class = "form-control" })
                </li>
                <li class="col form-group">
                    @Html.LabelFor(s => s.FECHASERVICIO, "Fecha del servicio:", htmlAttributes: new { @class = "form-label" })
                    @Html.TextBoxFor(c => c.FECHASERVICIO, htmlAttributes: new { @class = "form-control", @type = "date" })
                </li>
                <li class="col form-group">
                    @Html.LabelFor(s => s.VALOR, "Valor:", htmlAttributes: new { @class = "form-label" })
                    @Html.TextBoxFor(s => s.VALOR, htmlAttributes: new { @class = "form-control" })
                </li>
                <li class="col form-group">
                    @Html.LabelFor(s => s.PROFESIONAL_RUT_PROF, "Rut del profesional:", htmlAttributes: new { @class = "form-label" })
                    @Html.TextBoxFor(s => s.PROFESIONAL_RUT_PROF, htmlAttributes: new { @class = "form-control" })
                </li>
            </ul>
            <div class="d-flex justify-content-center">
            <button class="btn btn-custom col-auto" type="submit">Crear Asesoria</button>
            @TempData["mensaje"]
            </div>
            <br />

            <div class="d-flex justify-content-start">
            <a class="btn btn-custom col-auto" href="@Url.Action("IngresarAsesoria", "Asesoria")"><i class="fa fa-chevron-left" aria-hidden="true"></i> Volver</a>
            </div>
</div>
    }

</div>