@using SafeCore.BLL

@{
    ViewBag.Title = "Ingresar Asesoria";
}

@{ List<Servicio> asesoria = (List<Servicio>)ViewBag.asesoria; }

<h2>Ingresar Asesoria</h2>

<div>
    <a type="button" class="btn btn-custom mb-4 mt-4" href="@Url.Action("CreateAsesoria", "Asesoria")"><i class="fa fa-plus mx-2"></i>Ingresar Asesoria</a>
</div>

<table class="table" bgcolor="#FFFFFF">
    <thead class="thead-dark">
        <tr>
            <th>ID Servicio</th>
            <th>Rut Cliente</th>
            <th>Descripcion</th>
            <th>Fecha del servicio</th>
            <th>Valor servicio</th>
            <th>Rut profesional</th>
        </tr>

    </thead>


    @foreach (var aseso in asesoria)
    {
        <tr>
            <td>@aseso.ID_SERV</td>
            <td>@aseso.CLIENTES_RUT_CLIENT</td>
            <td>@aseso.DESCRIPCION</td>
            <td>@aseso.FECHASERVICIO</td>
            <td>@aseso.VALOR</td>
            <td>@aseso.PROFESIONAL_RUT_PROF</td>
        </tr>
    }


</table>