@using SafeCore.BLL
@model  SafeCore.BLL.HistorialAtrasos

@{
    ViewBag.Title = "CreateAtrasos";
}

<h2>Crear Historial Atrasos</h2>



<div class="container m-3">

    @using (Html.BeginForm())
    {

        <div class="d-flex row container justify-content-center" style="padding-left: 8%; padding-right: 8%;" action="/my-handling-form-page" method="post">

            <ul class="row row-cols-1 row-cols-md-2 justify-content-center">

                <li class="col form-group">
                    @Html.LabelFor(c => c.PROFESIONAL_RUT_PROF, "RUT del Profesional", htmlAttributes: new { @class = "form-label" })
                    @Html.TextBoxFor(c => c.PROFESIONAL_RUT_PROF, htmlAttributes: new { @class = "form-control" })
                </li>

                <li class="col form-group">
                    @Html.LabelFor(c => c.FECHA, "Fecha de Atraso", htmlAttributes: new { @class = "form-label" })
                    @Html.TextBoxFor(c => c.FECHA, htmlAttributes: new { @class = "form-control", @type = "datetime-local" })
                </li>

            </ul>
            <button class="btn btn-custom col-auto" type="submit">Ingresar Historial Atraso</button>
            <br />
            @TempData["mensaje"]
        </div>
    }

</div>