@using SafeCore.BLL
@model SafeCore.BLL.ContratoCliente

@{
    ViewBag.Title = "CreateContratoC";
}

<h2>CreateContratoC</h2>

<div class="container m-3">
    @using (Html.BeginForm())
    {
        <div class="d-flex row container justify-content-center" style="padding-left: 8%; padding-right: 8%;" action="@Url.Action("Index", "Home")" method="post">

            <ul class="row row-cols-1 row-cols-md-2 justify-content-center">
                <li class="col form-group">
                    @Html.LabelFor(c => c.FECHAINICIO, "Fecha de Inicio", htmlAttributes: new { @class = "form-label" })
                    @Html.TextBoxFor(c => c.FECHAINICIO, htmlAttributes: new { @class = "form-control", @type = "date" })
                </li>

                <li class="col form-group">
                    @Html.LabelFor(c => c.FECHATERMINO, "Fecha de término", htmlAttributes: new { @class = "form-label" })
                    @Html.TextBoxFor(c => c.FECHATERMINO, htmlAttributes: new { @class = "form-control", @type = "date" })
                </li>

                <li class="col form-group">
                    @Html.LabelFor(c => c.CLIENTES_RUT_CLIENT, "Rut del Cliente", htmlAttributes: new { @class = "form-label" })
                    @Html.TextBoxFor(c => c.CLIENTES_RUT_CLIENT, htmlAttributes: new { @class = "form-control" })
                </li>

                <li class="col form-group">
                    @Html.LabelFor(c => c.ACTIVO, "Contrato activo", htmlAttributes: new { @class = "form-label" })
                    @Html.DropDownListFor(c => c.ACTIVO, new List<SelectListItem>(){ new SelectListItem() { Text = "Si", Value = "1" },
                                                                                     new SelectListItem() { Text = "No", Value = "0"}
                                                                                   }, new { @id = "ACTIVO", @class = "form-control" })
                    @Html.ValidationMessageFor(c => c.ACTIVO)
                </li>
            </ul>

            <button class="btn btn-custom col-auto" type="submit">Crear Contrato</button>

            <br />

            <div class="container">
                @TempData["mensaje"]
            </div>

        </div>
    }
</div>
