@using SafeCore.BLL
@{
    ViewBag.Title = "Profesionales";
}

@{ List<Profesional> prof = (List<Profesional>)ViewBag.Profesionales; }
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <title>Revisar actividad de mejora</title>
</head>

<body>
    <h1>Profesionales</h1>
    <main class="container">



        <table class="table" bgcolor="#FFFFFF">
            <thead class="thead-dark">
                <tr>
                    <th>Rut del profesional</th>
                    <th>Activos</th>
                    <th>Nombre</th>
                    <th>Apelldio</th>
                    <th>Genero</th>
                    <th>Direccion</th>
                    <th>Telefono</th>
                    <th>Correo</th>
                </tr>

            </thead>
            @foreach (var pro in prof)
            {
                <tr>
                    <td>@pro.RUT_PROF</td>
                    <td>@pro.ACTIVO</td>
                    <td>@pro.NOMBRE</td>
                    <td>@pro.APELLIDO</td>
                    <td>@pro.GENERO</td>
                    <td>@pro.DIRECCION</td>
                    <td>@pro.TELEFONO</td>
                    <td>@pro.CORREO</td>
                </tr>
            }

        </table>



    </main>
    <script type="text/javascript" src="jquery-3.2.1.slim.min.js"></script>
    <script type="text/javascript" src=""></script>
    <script type="text/javascript" src="bootstrap.min.js"></script>
</body>
</html>
