@using SafeCore.BLL
@{
    ViewBag.Title = "Profesionales";
}

@{ List<Profesional> prof = (List<Profesional>)ViewBag.Profesionales; }
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <title>Revisar actividad de mejora</title>
</head>

<body>
    <h1>Profesionales</h1>
    <main class="container">

        <div>
            <a type="button" class="btn btn-custom mb-4 mt-4" href="@Url.Action("CreateProfesionales", "Personal")"><i class="fa fa-plus mx-2"></i>Crear Profesional</a>
        </div>

        <table class="table" bgcolor="#FFFFFF">
            <thead class="thead-dark">
                <tr>
                    <th>Rut del profesional</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Genero</th>
                    <th>Dirección</th>
                    <th>Teléfono</th>
                    <th>Correo</th>
                    <th>Activo</th>
                </tr>

            </thead>
            @foreach (var pro in prof)
            {
                <tr>
                    <td>@pro.RUT_PROF</td>
                    <td>@pro.NOMBRE</td>
                    <td>@pro.APELLIDO</td>
                    <td>@pro.GENERO</td>
                    <td>@pro.DIRECCION</td>
                    <td>@pro.TELEFONO</td>
                    <td>@pro.CORREO</td>
                    @if (@pro.ACTIVO.ToString().Equals("1"))
                    {
                        <td>✔</td>
                    }
                    else
                    {
                        <td>✘</td>
                    }
                </tr>
            }

        </table>



    </main>
    <script type="text/javascript" src="jquery-3.2.1.slim.min.js"></script>
    <script type="text/javascript" src=""></script>
    <script type="text/javascript" src="bootstrap.min.js"></script>
</body>
</html>
