@using SafeCore.BLL
@model  SafeCore.BLL.ReporteCliente

@{
    ViewBag.Title = "ReporteCliente";
}

<h2>Crear Reporte Cliente</h2>



<div class="container m-3">

    @using (Html.BeginForm())
    {

        <div class="d-flex row container justify-content-center" style="padding-left: 8%; padding-right: 8%;" action="/my-handling-form-page" method="post">

            <ul class="row row-cols-1 row-cols-md-2 justify-content-center">

                <li class="col form-group">
                    @Html.LabelFor(c => c.CLIENTES_RUT_CLIENT, "RUT del Cliente", htmlAttributes: new { @class = "form-label" })
                    @Html.TextBoxFor(c => c.CLIENTES_RUT_CLIENT, htmlAttributes: new { @class = "form-control" })
                </li>

                <li class="col form-group">
                    @Html.LabelFor(c => c.FECHA, "Fecha de Reporte", htmlAttributes: new { @class = "form-label" })
                    @Html.TextBoxFor(c => c.FECHA, htmlAttributes: new { @class = "form-control", @type = "datetime-local" })
                </li>

                <li class="col form-group">
                    @Html.LabelFor(c => c.DESCRIPCION, "Descripcion", htmlAttributes: new { @class = "form-label" })
                    @Html.TextBoxFor(c => c.DESCRIPCION, htmlAttributes: new { @class = "form-control" })
                </li>

            </ul>
            <div class="d-flex justify-content-center">
                <button class="btn btn-custom col-auto" type="submit">Ingresar reporte cliente</button>
                @TempData["mensaje"]
            </div>
            <br />

            <div class="d-flex justify-content-start">
                <a class="btn btn-custom col-auto" href="@Url.Action("ReportClient", "Report")"><i class="fa fa-chevron-left" aria-hidden="true"></i> Volver</a>
            </div>
        </div>
    }

</div>