@using SafeCore.BLL
@{
    ViewBag.Title = "ReportAccidente";
}
@{ List<ReporteAccidente> report = (List<ReporteAccidente>)ViewBag.ReporteAccidente; }

<h2>Reportar accidente</h2>

<div>
    <a type="button" class="btn btn-custom mb-4 mt-4" href="@Url.Action("CreateReportAccidente", "Report")"><i class="fa fa-plus mx-2"></i>Ingresar Reporte de accidente</a>
</div>

<table class="table" bgcolor="#FFFFFF">
    <thead class="thead-dark">
        <tr>
            <th>ID Reporte</th>
            <th>Rut del cliente</th>
            <th>Fecha</th>
            <th>Descripcion</th>
        </tr>

    </thead>


    @foreach (var reportc in report)
    {
        <tr>
            <td>@reportc.ID_REPORTA</td>
            <td>@reportc.CLIENTES_RUT_CLIENT</td>
            <td>@reportc.FECHAACCIDENTE</td>
            <td>@reportc.DESCRIPCION</td>
        </tr>
    }


</table>
