@using SafeCore.BLL

@{
    ViewBag.Title = "Clientes";
}

@{ List<Cliente> clientes = (List<Cliente>)ViewBag.clientes; }





<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <title>Revisar actividad de mejora</title>
</head>

<body>
    <h1>Clientes</h1>
    <main class="container">



        <table class="table" bgcolor="#FFFFFF">
            <thead class="thead-dark">
                <tr>
                    <th>Rut</th>
                    <th>Nombre Empresa</th>
                    <th>Direccion</th>
                    <th>Telefono</th>
                    <th>Correo</th>
                    <th>Rubro</th>
                </tr>

            </thead>


            <tbody>

                @foreach (var cliente in clientes)
                {
                    <tr>
                        <td>@cliente.Rut_cliente</td>
                        <td>@cliente.Nombre</td>
                        <td>@cliente.Direccion</td>
                        <td>@cliente.Telefono</td>
                        <td>@cliente.Correo</td>
                        <td>@cliente.Rubro</td>
                    </tr>
                }





                @*<tr>
                        <td>12343123-6</td>
                        <td>Nike</td>
                        <td>avenida siempre jordan</td>
                        <td>931312323</td>
                        <td>jordan@gmail.cl</td>
                        <td>Minera</td>
                    </tr>
                    <tr>
                        <td>11231232-5</td>
                        <td>adidas</td>
                        <td>Avenida adidas</td>
                        <td>932321212</td>
                        <td>adidas@gmail.cl</td>
                        <td>textil</td>
                    </tr>
                    <tr>
                        <td>13232124-5</td>
                        <td>zoo york</td>
                        <td>eladio 12</td>
                        <td>932435465</td>
                        <td>zooyork@gmail.com</td>
                        <td>Moda</td>
                    </tr>*@

            </tbody>

        </table>



    </main>
    <script type="text/javascript" src="js/jquery-3.2.1.slim.min.js"></script>
    <script type="text/javascript" src="js/popper.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
</body>
</html>

