@using SafeCore.BLL
@model  SafeCore.BLL.ActividadMejora
@{

    ViewBag.Title = "Ingresar actividad de mejora";
}

<h2>Ingresar actividad de mejora</h2>

<div class="container m-3">
    @using (Html.BeginForm())
    {
        
        <div class="d-flex row container justify-content-center" style="padding-left: 8%; padding-right: 8%;" action="/my-handling-form-page" method="post">

            <ul class="row row-cols-1 row-cols-md-2 justify-content-center">

                <li class="col form-group">
                    @Html.LabelFor(a => a.NOMBREMEJORA, "Nombre de actividad", htmlAttributes: new { @class = "form-label" })
                    @Html.TextBoxFor(a => a.NOMBREMEJORA, htmlAttributes: new { @class = "form-control" })
                </li>
                
                <li class="col form-group">
                    @Html.LabelFor(a => a.CLIENTES_RUT_CLIENT, "Rut del cliente", htmlAttributes: new { @class = "form-label" })
                    @Html.TextBoxFor(a => a.CLIENTES_RUT_CLIENT, htmlAttributes: new { @class = "form-control" })
                </li>



                <div class="d-flex col-12 form-group">
                    <li class="col">
                        @Html.LabelFor(a => a.DESCRIPCIONMEJORA, "Recomendación para el cliente", htmlAttributes: new { @class = "form-label" })
                        @Html.TextAreaFor(a => a.DESCRIPCIONMEJORA, htmlAttributes: new { @class = "form-control", @type = "text" })
                    </li>
                </div>
            </ul>
            <button class="btn btn-custom col-auto" type="submit">Enviar actividad</button>
            <br />
            @TempData["mensaje"]
        </div>
    }
    
</div>

