@using SafeCore.BLL
@{


    ViewBag.Title = "Revisar actividad de mejora";

}


@{ List<ActividadMejora> actividadMejora = (List<ActividadMejora>)ViewBag.ActividadMejora; }



<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <title>Revisar actividad de mejora</title>
</head>

<body>
    <h1>Revisar actividad de mejora</h1>
    <main class="container">

        <div>
            <a type="button" class="btn btn-custom mb-4 mt-4" href="@Url.Action("Create", "ActividadMejora")"><i class="fa fa-plus mx-2"></i>Ingresar Actividad de mejora</a>
        </div>


        <table class="table" bgcolor="#FFFFFF">
            <thead class="thead-dark">
                <tr>
                    <th>N° de Mejora</th>
                    <th>Nombre Mejora</th>
                    <th>Recomendacion</th>
                    <th>Cliente</th>
                </tr>

            </thead>
            <tbody>

                @foreach (var actividad in actividadMejora)
                {
                    <tr>
                        <td>@actividad.ID_ACTIVIDADMEJORA</td>
                        <td>@actividad.NOMBREMEJORA</td>
                        <td>@actividad.DESCRIPCIONMEJORA</td>
                        <td>@actividad.Cliente.Nombre</td>
                    </tr>
                }

            </tbody>

        </table>



    </main>
    <script type="text/javascript" src="js/jquery-3.2.1.slim.min.js"></script>
    <script type="text/javascript" src="js/popper.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
</body>
</html>