<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
</head>

<body>

    <div class="container-fluid fixed-top barStatic py-2 top-bar">
        <div class="show no-gutters d-flex position-relative align-items-center justify-content-between">
            @*<a class="ml-sm-5" data-toggle="collapse" data-target=".collapse" role="button" href="#">*@
            <button type="button" id="sidebarCollapse" class="btn btn-dark" style="font-size: 22px;">
                <i class="fa fa-bars"></i>
                @*<span>Menu</span>*@
            </button>
            @*</a>*@
            <div class="RFIDCORE-logo">
                <div class="col-12">
                    <!--LOGO CENTRAL-->
                    <a href="#" class="pl-2 font-weight-bold RFIDCORE">SAFE CORE SOFTWARE</a>
                </div>
            </div>
            <div style="width: 50px;">
                <!--Right Item-->
            </div>
        </div>
    </div>




    <!-- SIDE NVABAR -->
    <div class="wrapper">

        <nav id="sidebar">

            <div class="sidebar-header" id="sHeader">
                <h3>Safe Core</h3>
            </div>

            <div class="" id="sHeader_spacing">

            </div>

            <div class="d-flex justify-content-between" id="sidebarContainer">

                <div id="topOptions">
                    <ul class="list-unstyled components overflow-auto">

                        <li>
                            <a href="#Administracion" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Administración</a>

                            <ul class="collapse list-unstyled" id="Administracion">
                                <li>
                                    <a href="@Url.Action("CrearCapacitacion", "Administracion")">Crear capacitación</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Create", "PlanificarVisita")">Planificar visita</a>
                                    @*<a href="@Url.Action("PlanificarVisita", "Administracion")">Planificar visita</a>*@
                                </li>
                                <li>
                                    <a href="@Url.Action("CalculoA", "Administracion")">Cálculo de accidentabilidad</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Actividades", "Administracion")">Actividades</a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="#Asesoria" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Asesoría</a>

                            <ul class="collapse list-unstyled" id="Asesoria">
                                <li>
                                    <a href="@Url.Action("AsesoriaEspecial", "Asesoria")">Solicitar asesoría especial</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("IngresarAsesoria", "Asesoria")">Ingresar asesoría</a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="#Personal" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Personal</a>

                            <ul class="collapse list-unstyled" id="Personal">
                                <li>
                                    @*<a href="@Url.Action("RevisarCliente", "Cliente")">clientes</a>*@
                                    <a href="@Url.Action("Clientes", "Personal")">clientes</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("PagosClientes", "Personal")">Pagos clientes</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Profesionales", "Personal")">profesionales</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("HistorialAtrasos", "Personal")">Historial de atrasos</a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="#ActMejora" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Actividad de mejora</a>

                            <ul class="collapse list-unstyled" id="ActMejora">
                                <li>
                                    <a href="@Url.Action("Create", "ActividadMejora")">Ingresar</a>
                                    @*<a href="@Url.Action("IngresarMejora", "ActMejora")">Ingresar</a>*@
                                </li>
                                <li>
                                    <a href="@Url.Action("RevisarActMejora", "ActividadMejora")">Revisar</a>
                                    @*<a href="@Url.Action("RevisarMejora", "ActMejora")">Revisar</a>*@
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="#Checklist" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Checklist</a>

                            <ul class="collapse list-unstyled" id="Checklist">
                                <li>
                                    <a href="@Url.Action("Crearcheck", "Checklist")">Crear</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Responder", "Checklist")">Responder</a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="#Reportes" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Reportes</a>

                            <ul class="collapse list-unstyled" id="Reportes">
                                <li>
                                    <a href="@Url.Action("ReportClient", "Report")">Reporte cliente</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("ReportGlobal", "Report")">Reporte global</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Create", "ReportAccidente")">Reportar accidente</a>
                                    @*<a href="@Url.Action("ReportAccidente", "Report")">Reportar accidente</a>*@
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>

                <div id="bottomOptions">
                    <ul class="list-unstyled components" style="margin-bottom: 0; padding: 0;">
                        <li class="">
                            <a href="@Url.Action("Index", "Home")">Home</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li>
                                @Html.ActionLink("Cerrar Sesion", "LogOut", "Login")
                            </li>
                            <li>
                                <a>
                                    @User.Identity.Name
                                </a>
                            </li>
                        }
                        else
                        {
                            <li>
                                 @Html.ActionLink("Iniciar Sesion", "Login", "Login")
                            </li>
                        }
                    </ul>
                </div>

            </div>

        </nav>



        <!-- HERE START THE CONTENT -->

        <div id="content">

            <nav class="navbar navbar-expand-lg">
                <div class="top-spacing">

                </div>
            </nav>

            <!-- START PAGE CONTENT -->
            <div id="mainContent" class="container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
                <footer class="footer text-muted">
                    <div class="container d-flex justify-content-center" id="footerContainer">
                        <p>&copy; @DateTime.Now.Year - SafeCore - <a href="#"> Privacy</a></p>
                    </div>
                </footer>
            </div>
            <!-- END PAGE CONTENT -->



        </div>


    </div>




    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <!-- BOOTSTRAP 4.6 SCRIPTS FOR NAVBAR -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>

    @*@await RenderSectionAsync("Scripts", required: false)*@

    <script>

        /* NAVBAR TOGGLE METHOD */
        $(document).ready(function () {
            $("#sidebarCollapse").on('click', function () {
                $("#sidebar").toggleClass('disabled');
            });
        });

		window.onresize = displayWindowSize;
		window.onload = displayWindowSize;

		function displayWindowSize() {
			myWidth = window.innerWidth;
			//myHeight = window.innerHeight;

			//console.log(myWidth + "x" + myHeight)

            if (myWidth <= 1080) {
                $("#sidebar").addClass("disabled");
            }

            else {
				$("#sidebar").removeClass("disabled");
            }
		};


        /* SIGN OUT METHOD */
        function confirm_meth() {
            var confirmacion = confirm("Confirma cerrar sesión?");
            if (confirmacion == true) {
                // REDIRECTION HERE

            }
            else {
                document.writeln("<b>You had clic on 'NO' Button</b>");
            }
        }

    </script>


    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)*@


</body>

</html>
